<div class="row p-0">
  <div class="col-md-2 text-center p-1">
    <img class="example-option-img" [src]="getImage()" width="70px" />
  </div>
  <div class="searchitem-text col-md-8">
    <div class="movie-title font-weight-bold text-uppercase">
      {{ getTitle() }}
    </div>
    <div class="pubYear" style="margin-top: 10px">
      <strong></strong>

      <small
        style="
          background-color: white;
          color: #3f51b5;
          padding: 5px;
          box-sizing: border-box;
        "
        >{{ getYear() }} | {{ model.media_type | titlecase }}</small
      >
    </div>
  </div>
  <div class="rating col-md-2 pl-0 pr-1">
    <span class="material-icons mt-3"> star_rate </span>
    <div class="" style="line-height: 0.9rem">
      <strong
        >{{ getRating()
        }}<small class="d-md-none d-lg-inline-block" *ngIf="isRated"
          >/10</small
        ></strong
      >
    </div>
  </div>
</div>
