.main-div-wrapper {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
    font-family: "Playfair Display", sans-serif;
}
.img-s {
    width: 100%;
    overflow-y: scroll;
    z-index: 0;
    position: relative;
}
.wrapper-content {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    top: 76px;
    position: absolute;
    left: 0;
    height: 100%;
    padding: 5% 0px;
}

.main-div {
    position: relative;
}

.description {
    position: relative;
}

.wrapper-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100%;
    font-size: 20px;
}
