<nav
    class="site-header py-1"
    style="z-index: 1000; position: relative; background: black"
>
    <div
        class="container d-flex flex-column flex-md-row justify-content-between"
    >
        <i
            style="font-size: 3rem; color: white"
            class="bi bi-arrow-left-circle-fill icon float-left"
            [routerLink]="['home']"
        ></i>
        <a
            class="py-2 d-flex flex-row align-items-center justify-content-center"
            href="#"
        >
            <div
                class="h1 theading"
                style="font-family: 'Playfair Display', serif"
            >
                Stream
            </div>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                fill="black"
                stroke="White"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="d-block"
            >
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
            </svg>
            <div
                class="h1 theading"
                style="font-family: 'Playfair Display', serif"
            >
                Finder
            </div>
        </a>
        <span></span>
    </div>
</nav>
<router-outlet></router-outlet>
