/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";
html,
body {
    height: 100%;
    min-width: 512px;
}
body {
    margin: 0;
    
}
* {
    font-family: Arial, Helvetica, sans-serif;
}

.mat-option {
    font-family: "Playfair Display", sans-serif;
    height: 115px !important;
    font-size: large !important;
    padding: 10px !important;
}
.mat-form-field {
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    font-size: large !important;
}
.mat-form-field-flex {
    border-radius: 10px !important;
}

.mat-focused .mat-form-field-outline-end {
    border-radius: 0px 5px 0px 0px !important;
}

.mat-focused .mat-form-field-outline-start {
    border-radius: 5px 0px 0px 0px !important;
}

.mat-autocomplete-panel {
    border-radius: 0px 0px 15px 15px !important;
    box-shadow: -3px 3px 5px gray !important;
}

.mat-option:after {
    content: "";
    width: 100%;
    border-bottom: solid 3px gray;
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 0;
}

.searchitem-text {
    line-height: 1.2rem;
    padding: 10px;
    white-space: normal;
}

.search-item-text .movie-title {
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rating {
    text-align: center;
}
.rating div i {
    color: #ffdc3f;
}

.rating-content {
    font-size: 1.5rem;
}
.mat-input-element {
    font-size: x-large !important;
}
.mat-autocomplete-panel {
    max-height: 600px !important;
}

.mat-option-text {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mat-active {
    background-color: blue;
}

.cards-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.card {
    cursor: pointer;
    width: 120px;
    border-radius: 30px;
    height: 120px;
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    margin: 20px auto;
}

.card .card-img {
    width: inherit;
    height: inherit;
    border-radius: 30px;
}

.card .card-img img {
    width: inherit;
    height: inherit;
    border-radius: 30px;
    object-fit: contain;
}

.card .card_title {
    text-align: center;
    font-weight: bold;
    font-size: 15px !important;
    margin-top: 15px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 3px 3px 30px 5px rgba(255, 255, 255, 0.3);
}

.title-white {
    color: white;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.cover-img {
    -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.theading {
    color: white;
    padding: 0px 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.icon:hover {
    color: gray !important;
    transition: 0.4s;
}
